.header {
  height: 114px;
  margin-bottom: 36px;
  .breadcrumb {
    .row {
      .page-title {
        color: var(--text-muted);
        flex: none;
      }
    }
  }
}
.control-bar {
  background-color: var(--card-muted);
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 60px;
  padding: 12px 24px;
  justify-content: space-around;
  .search-field {
    display: flex;
    align-items: center;
    height: 36px;
    svg {
      color: var(--text-muted);
      margin-right: 10px;
    }
    input {
      box-sizing: border-box;

      padding-bottom: 0px;
      padding-left: 12px;
      background-color: var(--card-muted);
      border: none;
      outline: none;
      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
      &:hover {
        outline: none;
        border: none;
      }
    }
  }
}

.video-wall-embedded {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  margin-left: -11px;
}
