@import "../../app.variables";
#page-live-stream {
  .breadcrumb {
    .row {
      .actions {
        .sweet-toggling {
          margin-right: size(2) !important;
        }
      }
    }
  }

  .control-bar {
    padding: 0;
  }

  .setup-box {
    margin-top: size(6);
  }
}
